<div class="container-fluid">
	<div class="center hero-unit">
<h1>Home</h1>
<p>Using Ruby on Rails is superb awesome ! to learn fast web Development</p>
	<%= link_to 'Signup now !','#',class:"btn btn-primary btn-large"%>
</div>
</div>