<div class="footer">
<<<<<<< HEAD
	<p>&copy;2013  Vishnu Labs | All Rights Reserved </p>

=======
	<p>&copy;2013 | All Rights Reserved <%= link_to "Vishnu","http://vishnulabs.com" %>
>>>>>>> 76b1720ed8a4f0e6c0544ccdc67d7a0ac6ee10f5
</div>