<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
   <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'Vishnu Labs ',root_path,class:'brand' %>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li><%= link_to'Home',root_path %></li>
        <li><%= link_to'About',about_path %></li>
        <li><%= link_to'Contact',root_path %></li>
    </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
